*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(76, 140, 161);
    transition-timing-function: ease;
    transition-duration: 1s;
}

.clock-container{
    border: 5px solid white;
    width: 30vw;
    height: 30vh;
    margin-bottom: 30px;
    margin-top: 10vh;
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clock{
    color: white;
    font-size: 10vw;
}

.options-container{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
   
    justify-self: flex-end;
}

.option{
    height: 10vh;
    width: 10vw;
    border: 3px solid white;
    border-radius: 7px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.pomodoro{
    background: #d9534f;
}

.short-break{
    background: #5cb85c;
}

.long-break{
    background: #5bc0de;
}

.start-btn:hover, .option:hover{
    transform: scale(1.1);
}

.button-container{
    margin-top:10vh;
}

.start-btn{
    border: 10px solid white;
    color: white;
    font-weight: bold;
    font-size: 60px;
    cursor: pointer;
    width: 20vw;
    height: 15vh;
    border-radius:80px;
    background:transparent ;
}